@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Scrollbar හංගන්න ඕන නම් විතරක් මේක තියන්න */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

/* වැදගත්: Default smooth scroll එක අයින් කරන්න ඕනේ Lenis වැඩ කරන්න නම් */
html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}